*{
    box-sizing:border-box;
}

html, body{
    margin: 0;
    padding: 0;
    font: 16px/20px arial;
}

body{
    background-color: #f8eca7;
}

header{
    background: rgb(44,44,44);
    background-size: auto 150px;
    height: 150px;
    margin: 0;
    padding: 0;
}

.header-text{
    padding: 0 0 0 225px;    
    margin: 0;
    line-height: 150px;
    font-size: 50px;
    color: rgb(255, 254, 254);
    border-bottom: 5px solid #ff720b;
    text-overflow:ellipsis;
}

.content{
    height: 100%;
    min-height:100%;
    width: 90%;
    margin: 10px auto;
    max-width: 900px;
}

ul.tweets{
    list-style:none;   
}

li.tweet{
    padding-left: 0;
    margin-bottom: 20px;
}

.tweets{
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
}

div.avatar{
    width: 90px;
    height: 90px;
    float: left;
    margin: 0 10px 10px 10px;
    border: 2px soild rgb(150, 150, 150);
}

img.avatar{
    width: 86px;
    height: 86px;
}

.tweet{
    background-color: #c7c7c7;
    padding: 8px 10px 8px 5px;
    position: relative;
    border-radius: 4px;
    border: 2px dashed rgb(150, 150, 150);
    font-size: 1.2em;
    line-height: 1.4em;
}

.tweet-user{
    margin-bottom: 5px;
}

.tweet-content{
}

.search{
    padding: 20px 0;
}

.search-text{
    display: block;
    margin: 0 auto;
    padding: .5em;
    width: 500px;
    border-radius: 8px;
    font-size: 1.5em;
    color: #4b4b4b;
}

.tweet-info{
    margin-top: 5px;
    font-style:italic;
}

.favorite{
    float: right;
    height: 32px;
    width: 32px;
    background : url(images/star32.png) center no-repeat;
    cursor: pointer;
}

.favorite-selected{
    background : url(images/star32_selected.png) center no-repeat;
}

/* preload images */
body:after{
    display:none;
    content: url(images/star32.png) url(images/star32_selected.png);
}